@charset "UTF-8";

body{
	background-color:lavender;
}

table{
	background-color:aquamarine;
	margin-right: auto;
	margin-left: auto;
}

td{
	width:150px;
	height:100px;
	text-align:right;
}

div#include{
	width:250px;
	height:100px;
	color:red;
	background-color:yellow;
}

td#registerAdminUser{
	font-size:32px;
	text-align:center;
}