@charset "UTF-8";

@charset "UTF-8";

div#menu{
	float:left;
	width:250px;
	height:800px;;
	background-color:black;
	color:white;
}

div#main{
	float:left;
	width:250px;
	height:350px;
	background-color:red;
}

div#head{
	width:auto;
	height:80px;
	background-color:skyblue;
}

div#Top{
	font-size:32px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}

table{
	margin-right:auto;
	margin-left:auto;
}

a.menuLink:link{
	color:white;
}

a.menuLink:visited{
	color:white;
}

a:hover{
	color:white;
}