@charset "UTF-8";

body{
	background-color:lavender;
	
}

h3{
	margin: 0 auto;
	
}

.center-block{
	 margin: 0 auto;
	 width: 250px;
}


table{
	background-color:aquamarine;
	margin-right: auto;
	margin-left: auto;
}

td{
	width:150px;
	height:100px;
	text-align:center;
}


