@charset "UTF-8";

body{
	background-color:lavender;
	
}

h3{
	width:250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}


.center-block{
	width:500px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:30px;
	width:800px;
	
}


table{
	background-color:aquamarine;
	width:500px;
	height:100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

td{
	
	text-align:center;
}


